* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 29px;
  color: rgba(11, 12, 34, 0.8);
}

p {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.8);
}

.primary--btn, .hero-wrapper .navbar .navbar-nav .login-btn, .hero-wrapper .navbar .navbar-nav .btn {
  display: inline-block;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none !important;
  color: #fff;
  border-radius: 25px;
  border: none;
  text-align: center;
  background: linear-gradient(91.51deg, #2d5ff5 1.29%, #44b6f3 104.12%);
}

@media (max-width: 767px) {
  .primary--btn, .hero-wrapper .navbar .navbar-nav .login-btn, .hero-wrapper .navbar .navbar-nav .btn {
    font-size: 12px;
  }
}

.primary--btn:hover, .hero-wrapper .navbar .navbar-nav .login-btn:hover, .hero-wrapper .navbar .navbar-nav .btn:hover {
  color: #fff;
}

.section-title {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 53px;
}

@media (max-width: 767px) {
  .section-title {
    font-size: 32px;
    line-height: 44px !important;
  }
}

.section-subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2em;
  color: #2d5ff5;
}

@media (max-width: 767px) {
  .section-subtitle {
    font-size: 11px;
    line-height: 15px;
  }
}

.hero-wrapper {
  background: linear-gradient(149.79deg, #233258 7.76%, #0b0c22 54.34%);
  -webkit-transform: skew(0deg, -5deg);
          transform: skew(0deg, -5deg);
  margin-top: -200px;
  padding-top: 200px;
}

@media (max-width: 767px) {
  .hero-wrapper {
    padding-top: 220px;
    -webkit-transform: skew(0deg, -10deg);
            transform: skew(0deg, -10deg);
  }
}

.hero-wrapper .content {
  -webkit-transform: skew(0deg, 5deg);
          transform: skew(0deg, 5deg);
}

@media (max-width: 767px) {
  .hero-wrapper .content {
    -webkit-transform: skew(0deg, 10deg);
            transform: skew(0deg, 10deg);
  }
}

.hero-wrapper .navbar {
  padding: 1rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 767px) {
  .hero-wrapper .navbar {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .hero-wrapper .navbar .toggler {
    display: inline-block;
    cursor: pointer;
  }
  .hero-wrapper .navbar .toggler .bar1,
  .hero-wrapper .navbar .toggler .bar3 {
    width: 18px;
    height: 2px;
    background-color: #2d5ff5;
    margin: 5px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .hero-wrapper .navbar .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(0px, 5px);
            transform: rotate(-45deg) translate(0px, 5px);
  }
  .hero-wrapper .navbar .change .bar3 {
    -webkit-transform: rotate(45deg) translate(0px, -5px);
            transform: rotate(45deg) translate(0px, -5px);
  }
  .hero-wrapper .navbar .logo img {
    width: 120px;
  }
}

@media (max-width: 767px) {
  .hero-wrapper .navbar .navbar-collapse {
    padding-top: 10px;
  }
}

.hero-wrapper .navbar .navbar-nav .nav-link {
  color: #fff;
  padding: 8px 10px 3px;
  margin-left: 50px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
}

@media (max-width: 767px) {
  .hero-wrapper .navbar .navbar-nav .nav-link {
    margin-left: 0;
    padding: 10px;
  }
}

.hero-wrapper .navbar .navbar-nav .login-btn {
  padding: 10px 38px;
  border: 2px solid #44b6f3;
  background: none;
}

.hero-wrapper .navbar .navbar-nav .btn {
  padding: 0 35px;
  margin-left: 20px;
  line-height: 44px;
  height: 44px;
}

@media (max-width: 767px) {
  .hero-wrapper .navbar .navbar-nav .btn {
    margin-left: 0;
    line-height: 40px;
    height: 40px;
    margin: 5px 0;
  }
}

.hero-wrapper .hero-section {
  background-image: url(../imgs/hero-img.png);
  padding: 430px 0 175px;
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  max-width: 1500px;
  margin: auto;
}

@media (max-width: 767px) {
  .hero-wrapper .hero-section {
    text-align: left;
    padding: 380px 10px 75px;
    background-size: 320%;
    background-position: 38% -12%;
  }
}

.hero-wrapper .hero-section h3 {
  color: #74ceff;
}

.hero-wrapper .hero-section h1 {
  margin: 25px 0 30px;
  line-height: 65px;
}

.hero-wrapper .hero-section a {
  padding: 0 34px;
  height: 44px;
  line-height: 44px;
}

@media (max-width: 767px) {
  .hero-wrapper .hero-section a {
    height: 40px;
    line-height: 40px;
  }
}

.hero-wrapper .our-services {
  padding-bottom: 200px;
}

@media (max-width: 767px) {
  .hero-wrapper .our-services {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 80px;
  }
}

.hero-wrapper .our-services .left-side {
  position: absolute;
  left: 10px;
  right: 80px;
}

@media (max-width: 767px) {
  .hero-wrapper .our-services .left-side {
    position: static;
    padding: 0 10px;
  }
}

.hero-wrapper .our-services .right-side {
  color: #fff;
  padding-top: 35px;
}

.hero-wrapper .our-services .right-side h4 {
  color: #74ceff;
}

.hero-wrapper .our-services .right-side h2 {
  margin: 20px 0;
}

@media (max-width: 767px) {
  .hero-wrapper .our-services .right-side h2 {
    margin: 10px 0;
  }
}

.hero-wrapper .our-services .right-side p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.8);
}

.hero-wrapper .our-services .right-side p:not(:last-of-type) {
  margin-bottom: 20px;
}

.hero-wrapper .our-services .right-side a {
  margin-top: 40px;
  padding: 0 30px;
  line-height: 44px;
  height: 44px;
}

@media (max-width: 767px) {
  .hero-wrapper .our-services .right-side a {
    line-height: 40px;
    height: 40px;
  }
}

.benefits-wrapper {
  -webkit-transform: skew(0deg, -5deg);
          transform: skew(0deg, -5deg);
  padding-top: 150px;
  padding-bottom: 100px;
  background-color: #fff;
  position: relative;
  z-index: 2;
}

@media (max-width: 767px) {
  .benefits-wrapper {
    padding-top: 70px;
    -webkit-transform: skew(0deg, -10deg);
            transform: skew(0deg, -10deg);
    padding-bottom: 130px;
  }
}

.benefits-wrapper .content {
  -webkit-transform: skew(0deg, 5deg);
          transform: skew(0deg, 5deg);
  overflow: hidden;
}

@media (max-width: 767px) {
  .benefits-wrapper .content {
    -webkit-transform: skew(0deg, 10deg);
            transform: skew(0deg, 10deg);
  }
}

@media (max-width: 767px) {
  .benefits-wrapper .benefits-content {
    padding: 0 10px;
  }
  .benefits-wrapper .benefits-content h4 {
    padding-top: 30px;
  }
}

.benefits-wrapper .benefits-content h2 {
  color: #000000;
  margin: 25px 0;
}

@media (max-width: 767px) {
  .benefits-wrapper .benefits-content h2 {
    margin: 15px 0 25px;
  }
}

.benefits-wrapper .benefits-content .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 590px;
}

@media (max-width: 767px) {
  .benefits-wrapper .benefits-content .desc {
    display: block;
  }
}

.benefits-wrapper .benefits-content .desc p {
  width: 48%;
  color: rgba(11, 12, 34, 0.8);
}

@media (max-width: 767px) {
  .benefits-wrapper .benefits-content .desc p {
    width: 100%;
    margin-bottom: 20px;
  }
}

.benefits-wrapper .benefits-content .benefits-btns a {
  display: inline-block;
  margin-top: 30px;
  height: 44px;
  line-height: 44px;
  width: 186px;
  text-align: center;
}

@media (max-width: 767px) {
  .benefits-wrapper .benefits-content .benefits-btns a {
    margin-top: 10px;
    height: 40px;
    line-height: 40px;
    width: 144px;
  }
}

.benefits-wrapper .benefits-content .benefits-btns a:first-of-type {
  margin-right: 16px;
}

.benefits-wrapper .benefits-content .benefits-btns a:last-of-type {
  border-radius: 25px;
  border: 1px solid #44b6f3;
  text-decoration: none;
  font-family: "Nunito Sans";
  font-weight: bold;
  font-size: 14px;
  color: #0b0c22;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .benefits-wrapper .benefits-content .benefits-btns a:last-of-type {
    font-size: 12px;
  }
}

.benefits-wrapper .benefits-content .benefits-btns a:last-of-type img {
  margin-left: 30px;
}

@media (max-width: 767px) {
  .benefits-wrapper .benefits-content .benefits-btns a:last-of-type img {
    margin-left: 12px;
  }
}

.benefits-wrapper .benefits-img {
  position: absolute;
  left: 60px;
  right: -70px;
}

@media (max-width: 767px) {
  .benefits-wrapper .benefits-img {
    position: static;
  }
}

.rescloud-panel {
  position: relative;
  z-index: 1;
  margin-top: -280px;
  padding-top: 385px;
  background: linear-gradient(154.59deg, #233258 -8.27%, #0b0c22 58.54%);
  color: #fff;
}

@media (max-width: 767px) {
  .rescloud-panel {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 767px) {
  .rescloud-panel .rescloud-title {
    max-width: 220px;
  }
}

.rescloud-panel .subtitle {
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  line-height: 29px;
  color: rgba(68, 182, 243, 0.8);
  max-width: 855px;
  margin: 23px auto 45px;
}

@media (max-width: 767px) {
  .rescloud-panel .subtitle {
    font-size: 18px;
    margin: 20px auto;
  }
}

.rescloud-panel p.text {
  max-width: 725px;
  margin: auto;
}

.rescloud-panel .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
}

@media (max-width: 767px) {
  .rescloud-panel .box {
    margin-top: 50px;
  }
}

.rescloud-panel .box .icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 55px;
  border: 1px solid #44b6f3;
  text-align: center;
  margin-right: 20px;
}

.rescloud-panel .box .desc {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.rescloud-panel .box .desc h4 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .rescloud-panel .box .desc h4 {
    font-size: 18px;
    margin-bottom: 5px;
  }
}

.rescloud-panel .compatible {
  background: linear-gradient(93.13deg, #2d5ff5 3.34%, #44b6f3 102.94%);
  border-radius: 19px;
  padding: 45px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 115px;
  margin-bottom: 120px;
}

@media (max-width: 767px) {
  .rescloud-panel .compatible {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 40px 25px 40px;
  }
}

.rescloud-panel .compatible h3 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 110.6%;
  color: #ffffff;
  max-width: 255px;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .rescloud-panel .compatible h3 {
    font-size: 28px;
    line-height: 31px;
    margin-bottom: 45px;
    max-width: none;
  }
}

.rescloud-panel .compatible ul {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .rescloud-panel .compatible ul {
    display: block;
  }
}

.rescloud-panel .compatible ul li {
  border: 1px solid #ffffff;
  border-radius: 25px;
  width: 160px;
  height: 50px;
  line-height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-left: 10px;
}

@media (max-width: 767px) {
  .rescloud-panel .compatible ul li {
    width: 100%;
    margin-bottom: 20px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 30px;
    margin-left: 0;
  }
}

.rescloud-panel .compatible ul li img {
  margin-right: 15px;
}

.rescloud-panel .support .section-title {
  margin-bottom: 30px;
}

.rescloud-panel .support .support-text {
  max-width: 390px;
}

@media (max-width: 767px) {
  .rescloud-panel .support .support-text {
    margin-bottom: 30px;
  }
}

.rescloud-panel .support .right .row > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rescloud-panel .support .support-box {
  background: #ffffff;
  border-radius: 10px;
  padding: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media (max-width: 767px) {
  .rescloud-panel .support .support-box {
    margin-bottom: 30px;
  }
}

.rescloud-panel .support .support-box .box-icon {
  margin-bottom: 30px;
}

.rescloud-panel .support .support-box .detail p,
.rescloud-panel .support .support-box .detail a {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 153.6%;
  color: #000000;
}

.rescloud-panel .support .support-box .detail a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2d5ff5;
}

.rescloud-panel .support .cards {
  background: #1c2547;
  border-radius: 20px;
  padding: 30px 30px 30px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 34px;
}

@media (max-width: 767px) {
  .rescloud-panel .support .cards {
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 35px;
  }
}

@media (max-width: 767px) {
  .rescloud-panel .support .cards .imgs {
    margin-top: 20px;
  }
}

.rescloud-panel .support .cards .imgs img:not(:last-of-type) {
  margin-right: 30px;
}

.rescloud-panel .support .cards a {
  height: 44px;
  line-height: 44px;
  width: 232px;
}

@media (max-width: 767px) {
  .rescloud-panel .support .cards a {
    height: 40px;
    line-height: 40px;
    margin: auto;
    text-align: center;
  }
}

.rescloud-panel .support-countries {
  padding-bottom: 150px;
}

@media (max-width: 767px) {
  .rescloud-panel .support-countries {
    padding-bottom: 70px;
  }
}

.rescloud-panel .support-countries .section-title {
  margin: 140px 0 60px;
}

@media (max-width: 767px) {
  .rescloud-panel .support-countries .section-title {
    margin: 80px 0 40px;
  }
}

.rescloud-panel .support-countries .section-title span {
  color: #44b6f3;
}

.rescloud-panel .support-countries .countries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px 12px;
}

@media (max-width: 767px) {
  .rescloud-panel .support-countries .countries {
    gap: 20px 0;
  }
}

.rescloud-panel .support-countries .countries .country {
  background: #253259;
  opacity: 0.8;
  border-radius: 30px;
  height: 60px;
  line-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 0 38px;
}

@media (max-width: 767px) {
  .rescloud-panel .support-countries .countries .country {
    width: 100%;
  }
}

.rescloud-panel .support-countries .countries .country img {
  margin-right: 16px;
}

.rescloud-panel .support-countries .countries .country span {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
}

.faq {
  padding: 100px 0 115px;
}

@media (max-width: 767px) {
  .faq {
    padding: 50px 0 60px;
  }
}

.faq .section-title {
  color: #233258;
}

@media (max-width: 767px) {
  .faq .section-title {
    line-height: 35px !important;
  }
}

.faq .nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  border-bottom: 0;
}

.faq .nav-tabs:after {
  content: "";
  background-color: #efefef;
  position: absolute;
  height: 4px;
  left: 0;
  right: 0;
  bottom: -1px;
  z-index: -1;
  border-radius: 20px;
}

.faq .nav-tabs .nav-link {
  font-family: "Nunito", sans-serif;
  color: rgba(35, 50, 88, 0.4);
  font-weight: bold;
  border: 0;
  border-radius: 0;
  border-bottom: 4px solid transparent;
  font-size: 18px;
  line-height: 110.6%;
  background-color: transparent;
  border-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 25px 22px;
}

.faq .nav-tabs .nav-link.active {
  color: #233258;
  border-bottom: 4px solid #2d5ff5;
}

.faq .nav-tabs .nav-link:hover {
  color: #233258;
}

.faq .accordion .question {
  border-bottom: 1px solid #f3f3f3;
  background: #fafafa;
}

.faq .accordion .question .question-header h2 {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  color: #233258;
  position: relative;
  padding: 25px 60px;
  cursor: pointer;
  margin-bottom: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 767px) {
  .faq .accordion .question .question-header h2 {
    font-size: 16px;
    padding: 20px 30px 20px 60px;
  }
}

.faq .accordion .question .question-header h2:before, .faq .accordion .question .question-header h2:after {
  background: #44b6f3;
  content: "";
  height: 2px;
  left: 25px;
  position: absolute;
  top: 50%;
  width: 16px;
  border-radius: 40px;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.faq .accordion .question .question-header h2:after {
  -webkit-transform-origin: center;
          transform-origin: center;
}

.faq .accordion .question .question-header h2.collapsed {
  background-color: #fff;
}

.faq .accordion .question .question-header h2.collapsed:after, .faq .accordion .question .question-header h2.collapsed:before {
  background: #44b6f3;
}

.faq .accordion .question .question-header h2.collapsed:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.faq .accordion .question .question-header h2.collapsed:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq .accordion .question .question-body {
  padding: 0 25px 20px 60px;
  color: rgba(35, 50, 88, 0.8);
}

@media (max-width: 767px) {
  .faq .accordion .question .question-body {
    padding: 0 25px 20px 25px;
    margin-top: -10px;
  }
}

@media (max-width: 767px) {
  .faq .fade:not(.show) {
    opacity: 1;
  }
  .faq .fade {
    -webkit-transition: none;
    transition: none;
  }
  .faq .dropdown-toggle {
    height: 44px;
    line-height: 44px;
    padding: 0 30px;
    border: 2px solid #44b6f3;
    width: 100%;
    border-radius: 25px;
    text-align: left;
    font-family: Nunito;
    font-weight: bold;
    font-size: 18px;
    color: #3e4c6d;
  }
  .faq .dropdown-toggle::after {
    border: 0;
    background-image: url(../imgs/arrow-down.svg);
    display: inline-block;
    width: 15px;
    height: 15px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
  .faq .dropdown-menu.show {
    width: 100%;
  }
  .faq .tab-content {
    margin-top: 30px;
  }
}

.faq .faq-content {
  max-width: 470px;
  margin-left: auto;
}

.faq .faq-content h2 {
  margin-bottom: 27px;
}

@media (max-width: 767px) {
  .faq .faq-content h2 {
    margin-bottom: 20px;
  }
}

.faq .faq-content p {
  color: rgba(35, 50, 88, 0.8);
}

.faq .faq-content p:not(:last-of-type) {
  margin-bottom: 30px;
}

.faq .faq-content .primary--btn, .faq .faq-content .hero-wrapper .navbar .navbar-nav .login-btn, .hero-wrapper .navbar .navbar-nav .faq .faq-content .login-btn, .faq .faq-content .hero-wrapper .navbar .navbar-nav .btn, .hero-wrapper .navbar .navbar-nav .faq .faq-content .btn {
  height: 44px;
  line-height: 44px;
  margin: 20px auto 30px;
  width: 170px;
}

@media (max-width: 767px) {
  .faq .faq-content .primary--btn, .faq .faq-content .hero-wrapper .navbar .navbar-nav .login-btn, .hero-wrapper .navbar .navbar-nav .faq .faq-content .login-btn, .faq .faq-content .hero-wrapper .navbar .navbar-nav .btn, .hero-wrapper .navbar .navbar-nav .faq .faq-content .btn {
    margin: 10px auto 20px;
    line-height: 40px;
    height: 40px;
  }
}

@media (max-width: 767px) {
  .faq .faq-content .social {
    margin-bottom: 40px;
  }
}

.faq .faq-content .social .social-icon {
  border: 1px solid #cbcbcb;
  width: 62px;
  height: 62px;
  line-height: 56px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
}

.faq .faq-content .social .social-icon a {
  display: block;
}

.contact-us {
  background: linear-gradient(278.98deg, #233258 -10.45%, #0b0c22 94.43%);
  padding: 90px 0 75px;
  color: #fff;
}

@media (max-width: 767px) {
  .contact-us {
    padding: 55px 10px;
  }
}

.contact-us h2 {
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .contact-us h2 {
    margin-bottom: 40px;
    line-height: 35px !important;
  }
}

.contact-us .contact-form input {
  height: 60px;
  line-height: 60px;
  border: 1px solid rgba(45, 95, 245, 0.6);
  border-radius: 30px;
  background-color: transparent;
  margin-bottom: 16px;
  padding: 0 30px;
  outline: none;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.contact-us .contact-form .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .contact-us .contact-form .info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.contact-us .contact-form .info input {
  width: 49%;
}

@media (max-width: 767px) {
  .contact-us .contact-form .info input {
    width: 100%;
  }
}

.contact-us .contact-form .business input {
  width: 100%;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .contact-us .contact-form .business input {
    margin-bottom: 16px;
  }
}

.contact-us .contact-form textarea {
  border: 1px solid rgba(45, 95, 245, 0.6);
  border-radius: 30px;
  background-color: transparent;
  padding: 15px 30px;
  outline: none;
  width: 100%;
  min-height: 212px;
  color: #fff;
}

.contact-us .contact-form .submit {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 85px;
}

@media (max-width: 767px) {
  .contact-us .contact-form .submit {
    margin: 20px 0 75px;
  }
}

.contact-us .contact-form .submit button {
  padding: 0 30px;
  height: 44px;
  line-height: 44px;
}

@media (max-width: 767px) {
  .contact-us .contact-form .submit button {
    width: 100%;
  }
}

.contact-us footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .contact-us footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 767px) {
  .contact-us footer .logo {
    margin-bottom: 30px;
  }
  .contact-us footer .logo img {
    width: 142px;
  }
}

.contact-us footer .footer-links {
  margin-bottom: 0;
}

.contact-us footer .footer-links li {
  margin-left: 25px;
  display: inline-block;
}

@media (max-width: 767px) {
  .contact-us footer .footer-links li {
    display: block;
    margin: 15px 0;
  }
}

.contact-us footer .footer-links li a {
  color: #ffffff;
}

.contact-us footer .footer-links li a:hover {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */