$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 991px)";
$maxTab: "(max-width: 991px)";
$betweentabdesk: "(min-width: 1000px) and (max-width: 1200px)";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 29px;
  color: rgba(11, 12, 34, 0.8);
}

p {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.8);
}

.primary--btn {
  display: inline-block;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none !important;
  color: #fff;
  border-radius: 25px;
  border: none;
  text-align: center;
  background: linear-gradient(91.51deg, #2d5ff5 1.29%, #44b6f3 104.12%);
  @media #{$mobile} {
    font-size: 12px;
  }
  &:hover {
    color: #fff;
  }
}

.section-title {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 53px;
  @media #{$mobile} {
    font-size: 32px;
    line-height: 44px !important;
  }
}

.section-subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2em;
  color: #2d5ff5;
  @media #{$mobile} {
    font-size: 11px;
    line-height: 15px;
  }
}

.hero-wrapper {
  background: linear-gradient(149.79deg, #233258 7.76%, #0b0c22 54.34%);
  transform: skew(0deg, -5deg);
  margin-top: -200px;
  padding-top: 200px;
  @media #{$mobile} {
    padding-top: 220px;
    transform: skew(0deg, -10deg);
  }
  .content {
    transform: skew(0deg, 5deg);
    @media #{$mobile} {
      transform: skew(0deg, 10deg);
    }
  }
  .navbar {
    padding: 1rem;
    align-items: flex-start;
    @media #{$mobile} {
      height: 0;
      padding-top: 0;
      padding-bottom: 0;
      align-items: flex-end;

      .toggler {
        display: inline-block;
        cursor: pointer;
        .bar1,
        .bar3 {
          width: 18px;
          height: 2px;
          background-color: #2d5ff5;
          margin: 5px 0;
          transition: 0.4s;
        }
      }
      .change .bar1 {
        transform: rotate(-45deg) translate(0px, 5px);
      }

      .change .bar3 {
        transform: rotate(45deg) translate(0px, -5px);
      }

      .logo {
        img {
          width: 120px;
        }
      }
    }
    @media #{$mobile} {
      .navbar-collapse {
        padding-top: 10px;
      }
    }

    .navbar-nav {
      .nav-link {
        color: #fff;
        padding: 8px 10px 3px;
        margin-left: 50px;
        font-family: "Nunito Sans", sans-serif;
        font-size: 14px;
        line-height: 19px;
        @media #{$mobile} {
          margin-left: 0;
          padding: 10px;
        }
      }
      .login-btn {
        @extend .primary--btn;
        padding: 10px 38px;
        border: 2px solid #44b6f3;
        background: none;
      }
      .btn {
        @extend .primary--btn;
        padding: 0 35px;
        margin-left: 20px;
        line-height: 44px;
        height: 44px;
        @media #{$mobile} {
          margin-left: 0;
          line-height: 40px;
          height: 40px;
          margin: 5px 0;
        }
      }
    }
  }

  .hero-section {
    background-image: url(../imgs/hero-img.png);
    padding: 430px 0 175px;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
    max-width: 1500px;
    margin: auto;
    @media #{$mobile} {
      text-align: left;
      padding: 380px 10px 75px;
      background-size: 320%;
      background-position: 38% -12%;
    }
    h3 {
      color: #74ceff;
    }
    h1 {
      margin: 25px 0 30px;
      line-height: 65px;
    }
    a {
      padding: 0 34px;
      height: 44px;
      line-height: 44px;
      @media #{$mobile} {
        height: 40px;
        line-height: 40px;
      }
    }
  }

  .our-services {
    padding-bottom: 200px;
    @media #{$mobile} {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 80px;
    }
    .left-side {
      position: absolute;
      left: 10px;
      right: 80px;
      @media #{$mobile} {
        position: static;
        padding: 0 10px;
      }
    }
    .right-side {
      color: #fff;
      padding-top: 35px;
      h4 {
        color: #74ceff;
      }
      h2 {
        margin: 20px 0;
        @media #{$mobile} {
          margin: 10px 0;
        }
      }
      p {
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        line-height: 29px;
        color: rgba(255, 255, 255, 0.8);
        &:not(:last-of-type) {
          margin-bottom: 20px;
        }
      }
      a {
        margin-top: 40px;
        padding: 0 30px;
        line-height: 44px;
        height: 44px;
        @media #{$mobile} {
          line-height: 40px;
          height: 40px;
        }
      }
    }
  }
}

.benefits-wrapper {
  transform: skew(0deg, -5deg);
  padding-top: 150px;
  padding-bottom: 100px;
  background-color: #fff;
  position: relative;
  z-index: 2;
  @media #{$mobile} {
    padding-top: 70px;
    transform: skew(0deg, -10deg);
    padding-bottom: 130px;
  }
  .content {
    transform: skew(0deg, 5deg);
    overflow: hidden;
    @media #{$mobile} {
      transform: skew(0deg, 10deg);
    }
  }
  .benefits-content {
    @media #{$mobile} {
      padding: 0 10px;
      h4 {
        padding-top: 30px;
      }
    }
    h2 {
      color: #000000;
      margin: 25px 0;
      @media #{$mobile} {
        margin: 15px 0 25px;
      }
    }
    .desc {
      display: flex;
      justify-content: space-between;
      max-width: 590px;
      @media #{$mobile} {
        display: block;
      }

      p {
        width: 48%;
        color: rgba(11, 12, 34, 0.8);
        @media #{$mobile} {
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }
    .benefits-btns {
      a {
        display: inline-block;
        margin-top: 30px;
        height: 44px;
        line-height: 44px;
        width: 186px;
        text-align: center;
        @media #{$mobile} {
          margin-top: 10px;
          height: 40px;
          line-height: 40px;
          width: 144px;
        }
        &:first-of-type {
          margin-right: 16px;
        }
        &:last-of-type {
          border-radius: 25px;
          border: 1px solid #44b6f3;
          text-decoration: none;
          font-family: "Nunito Sans";
          font-weight: bold;
          font-size: 14px;
          color: #0b0c22;
          display: inline-flex;
          justify-content: center;
          @media #{$mobile} {
            font-size: 12px;
          }
          img {
            margin-left: 30px;
            @media #{$mobile} {
              margin-left: 12px;
            }
          }
        }
      }
    }
  }
  .benefits-img {
    position: absolute;
    left: 60px;
    right: -70px;
    @media #{$mobile} {
      position: static;
    }
  }
}

.rescloud-panel {
  position: relative;
  z-index: 1;
  margin-top: -280px;
  padding-top: 385px;
  background: linear-gradient(154.59deg, #233258 -8.27%, #0b0c22 58.54%);
  color: #fff;
  @media #{$mobile} {
    padding-right: 10px;
    padding-left: 10px;
  }
  .rescloud-title {
    @media #{$mobile} {
      max-width: 220px;
    }
  }
  .subtitle {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    line-height: 29px;
    color: rgba(68, 182, 243, 0.8);
    max-width: 855px;
    margin: 23px auto 45px;
    @media #{$mobile} {
      font-size: 18px;
      margin: 20px auto;
    }
  }
  p.text {
    max-width: 725px;
    margin: auto;
  }
  .box {
    display: flex;
    margin-top: 70px;
    @media #{$mobile} {
      margin-top: 50px;
    }
    .icon {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      line-height: 55px;
      border: 1px solid #44b6f3;
      text-align: center;
      margin-right: 20px;
    }
    .desc {
      flex: 1;
      h4 {
        font-family: "Nunito", sans-serif;
        font-weight: bold;
        font-size: 20px;
        line-height: 35px;
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 10px;
        @media #{$mobile} {
          font-size: 18px;
          margin-bottom: 5px;
        }
      }
    }
  }
  .compatible {
    background: linear-gradient(93.13deg, #2d5ff5 3.34%, #44b6f3 102.94%);
    border-radius: 19px;
    padding: 45px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 115px;
    margin-bottom: 120px;
    @media #{$mobile} {
      flex-direction: column;
      margin-top: 70px;
      margin-bottom: 70px;
      padding: 40px 25px 40px;
    }
    h3 {
      font-family: "Nunito", sans-serif;
      font-weight: bold;
      font-size: 32px;
      line-height: 110.6%;
      color: #ffffff;
      max-width: 255px;
      margin-bottom: 0;
      @media #{$mobile} {
        font-size: 28px;
        line-height: 31px;
        margin-bottom: 45px;
        max-width: none;
      }
    }
    ul {
      margin-bottom: 0;
      display: flex;
      @media #{$mobile} {
        display: block;
      }
      li {
        border: 1px solid #ffffff;
        border-radius: 25px;
        width: 160px;
        height: 50px;
        line-height: 50px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 10px;
        @media #{$mobile} {
          width: 100%;
          margin-bottom: 20px;
          justify-content: flex-start;
          padding-left: 30px;
          margin-left: 0;
        }
        img {
          margin-right: 15px;
        }
      }
    }
  }
  .support {
    .section-title {
      margin-bottom: 30px;
    }
    .support-text {
      max-width: 390px;
      @media #{$mobile} {
        margin-bottom: 30px;
      }
    }
    .right {
      .row {
        > div {
          display: flex;
        }
      }
    }
    .support-box {
      background: #ffffff;
      border-radius: 10px;
      padding: 35px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      @media #{$mobile} {
        margin-bottom: 30px;
      }
      .box-icon {
        margin-bottom: 30px;
      }
      .detail {
        p,
        a {
          font-family: "Nunito", sans-serif;
          font-size: 16px;
          line-height: 153.6%;
          color: #000000;
        }
        a {
          text-decoration-line: underline;
          color: #2d5ff5;
        }
      }
    }
    .cards {
      background: #1c2547;
      border-radius: 20px;
      padding: 30px 30px 30px 45px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 34px;
      @media #{$mobile} {
        margin-top: 0;
        flex-direction: column;
        padding: 30px 35px;
      }
      .imgs {
        @media #{$mobile} {
          margin-top: 20px;
        }
        img:not(:last-of-type) {
          margin-right: 30px;
        }
      }
      a {
        height: 44px;
        line-height: 44px;
        // padding: 0 32px;
        width: 232px;
        @media #{$mobile} {
          height: 40px;
          line-height: 40px;
          margin: auto;
          text-align: center;
        }
      }
    }
  }

  .support-countries {
    padding-bottom: 150px;
    @media #{$mobile} {
      padding-bottom: 70px;
    }
    .section-title {
      margin: 140px 0 60px;
      @media #{$mobile} {
        margin: 80px 0 40px;
      }
      span {
        color: #44b6f3;
      }
    }
    .countries {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 25px 12px;
      @media #{$mobile} {
        gap: 20px 0;
      }
      .country {
        background: #253259;
        opacity: 0.8;
        border-radius: 30px;
        height: 60px;
        line-height: 60px;
        display: flex;
        text-align: center;
        padding: 0 38px;
        @media #{$mobile} {
          width: 100%;
        }
        img {
          margin-right: 16px;
        }
        span {
          font-family: "Nunito", sans-serif;
          font-weight: bold;
          font-size: 18px;
          text-align: center;
          color: #ffffff;
        }
      }
    }
  }
}

.faq {
  padding: 100px 0 115px;
  @media #{$mobile} {
    padding: 50px 0 60px;
  }
  .section-title {
    color: #233258;
    @media #{$mobile} {
      line-height: 35px !important;
    }
  }
  .nav-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom: 0;
    &:after {
      content: "";
      background-color: #efefef;
      position: absolute;
      height: 4px;
      left: 0;
      right: 0;
      bottom: -1px;
      z-index: -1;
      border-radius: 20px;
    }
    .nav-link {
      font-family: "Nunito", sans-serif;
      color: rgba(35, 50, 88, 0.4);
      font-weight: bold;
      border: 0;
      border-radius: 0;
      border-bottom: 4px solid transparent;
      font-size: 18px;
      line-height: 110.6%;
      background-color: transparent;
      border-color: transparent;
      transition: all 0.3s ease-in-out;
      padding: 0.5rem 25px 22px;
      &.active {
        color: #233258;
        border-bottom: 4px solid #2d5ff5;
      }
      &:hover {
        color: #233258;
      }
    }
  }
  .accordion {
    .question {
      border-bottom: 1px solid #f3f3f3;
      background: #fafafa;

      .question-header {
        h2 {
          font-family: "Nunito", sans-serif;
          font-weight: bold;
          font-size: 20px;
          line-height: 22px;
          color: #233258;
          position: relative;
          padding: 25px 60px;
          cursor: pointer;
          margin-bottom: 0;
          transition: all 0.3s ease-in-out;
          @media #{$mobile} {
            font-size: 16px;
            padding: 20px 30px 20px 60px;
          }

          &:before,
          &:after {
            background: #44b6f3;
            content: "";
            height: 2px;
            left: 25px;
            position: absolute;
            top: 50%;
            width: 16px;
            border-radius: 40px;
            transition: transform 500ms ease;
          }
          &:after {
            transform-origin: center;
          }
          &.collapsed {
            background-color: #fff;
            &:after,
            &:before {
              background: #44b6f3;
            }
            &:after {
              transform: rotate(90deg);
            }
            &:before {
              transform: rotate(180deg);
            }
          }
        }
      }

      .question-body {
        padding: 0 25px 20px 60px;
        color: rgba(35, 50, 88, 0.8);
        @media #{$mobile} {
          padding: 0 25px 20px 25px;
          margin-top: -10px;
        }
      }
    }
  }

  @media #{$mobile} {
    .fade:not(.show) {
      opacity: 1;
    }
    .fade {
      transition: none;
    }
    .dropdown-toggle {
      height: 44px;
      line-height: 44px;
      padding: 0 30px;
      border: 2px solid #44b6f3;
      width: 100%;
      border-radius: 25px;
      text-align: left;
      font-family: Nunito;
      font-weight: bold;
      font-size: 18px;
      color: #3e4c6d;
    }
    .dropdown-toggle::after {
      border: 0;
      background-image: url(../imgs/arrow-down.svg);
      display: inline-block;
      width: 15px;
      height: 15px;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-30%);
    }
    .dropdown-menu.show {
      width: 100%;
    }
    .tab-content {
      margin-top: 30px;
    }
  }

  .faq-content {
    max-width: 470px;
    margin-left: auto;
    h2 {
      margin-bottom: 27px;
      @media #{$mobile} {
        margin-bottom: 20px;
      }
    }
    p {
      color: rgba(35, 50, 88, 0.8);
      &:not(:last-of-type) {
        margin-bottom: 30px;
      }
    }
    .primary--btn {
      height: 44px;
      line-height: 44px;
      margin: 20px auto 30px;
      width: 170px;
      @media #{$mobile} {
        margin: 10px auto 20px;
        line-height: 40px;
        height: 40px;
      }
    }
    .social {
      @media #{$mobile} {
        margin-bottom: 40px;
      }
      .social-icon {
        border: 1px solid #cbcbcb;
        width: 62px;
        height: 62px;
        line-height: 56px;
        border-radius: 50%;
        text-align: center;
        display: inline-block;
        margin-right: 10px;
        a {
          display: block;
        }
      }
    }
  }
}

.contact-us {
  background: linear-gradient(278.98deg, #233258 -10.45%, #0b0c22 94.43%);
  padding: 90px 0 75px;
  color: #fff;
  @media #{$mobile} {
    padding: 55px 10px;
  }
  h2 {
    margin-bottom: 60px;
    @media #{$mobile} {
      margin-bottom: 40px;
      line-height: 35px !important;
    }
  }
  .contact-form {
    input {
      height: 60px;
      line-height: 60px;
      border: 1px solid rgba(45, 95, 245, 0.6);
      border-radius: 30px;
      background-color: transparent;
      margin-bottom: 16px;
      padding: 0 30px;
      outline: none;
      color: #fff;
      font-family: "Open Sans", sans-serif;
    }
    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media #{$mobile} {
        flex-wrap: wrap;
      }
      input {
        width: 49%;
        @media #{$mobile} {
          width: 100%;
        }
      }
    }
    .business {
      input {
        width: 100%;
        margin-bottom: 0;
        @media #{$mobile} {
          margin-bottom: 16px;
        }
      }
    }
    textarea {
      border: 1px solid rgba(45, 95, 245, 0.6);
      border-radius: 30px;
      background-color: transparent;
      padding: 15px 30px;
      outline: none;
      width: 100%;
      min-height: 212px;
      color: #fff;
    }
    .submit {
      text-align: center;
      margin-top: 45px;
      margin-bottom: 85px;
      @media #{$mobile} {
        margin: 20px 0 75px;
      }
      button {
        padding: 0 30px;
        height: 44px;
        line-height: 44px;
        @media #{$mobile} {
          width: 100%;
        }
      }
    }
  }
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media #{$mobile} {
      flex-direction: column;
      align-items: flex-start;
    }
    .logo {
      @media #{$mobile} {
        margin-bottom: 30px;
        img {
          width: 142px;
        }
      }
    }
    .footer-links {
      margin-bottom: 0;
      li {
        margin-left: 25px;
        display: inline-block;
        @media #{$mobile} {
          display: block;
          margin: 15px 0;
        }
        a {
          color: #ffffff;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
